* {
    font-size: 62.5%;
    font-family: 'Exo', sans-serif;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

.container {
    padding: 0 20px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 450px;
}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.logo {
    max-width: 100px;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
}
/* NAV BAR */

.primary-navigation {
    list-style: none;
    margin: 0;
}

.primary-navigation a {
    font-size: 1.6rem;
    text-decoration: none;
}

.nav-btn {
    font-size: 1.3rem;
    padding: 5px 12px;
    margin-right: 2rem;
    background-color: #E28641;
    color: white;
    border: none;
    border-radius: 5%;
}

@media (max-width: 35em) {
    .primary-navigation {
        z-index: 10000;
        position: fixed;
        inset: 0 0 0 40%;
        background: steelblue;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        display: none;
    }
}

/* BANNER */

#banner {
    background-color: lightsalmon;
    padding: 20px 0;
}

.announcements p{
    font-size: 1.3rem;
    text-align: center;
}

/* HERO */

#hero {
    background-color: white;
    height: 80vh;
    text-align: center;
}

.hero-content h1 {
    padding: 40px 0;
    color: white;
}

.hero-p {
    font-size: 1.8rem;
    padding-bottom: 25px;
    color: white;
}

.bg-image {
    background: url("/images/camper-van.jpeg");
    background-size: cover;
    height: 60vh;
}

.book-now {
    position: relative;
    background-color: #E5E5E5;
    top: 150px;
    margin: auto;
    width: 60%;
    padding: 25px;
    border-radius: 2%;
}

.form-elem{
 display: flex;
 flex-direction: column;
}

.form-elem input, .form-elem button{
    font-size: 1.4rem;
    padding: 15px 0;
    margin: 5px;
}

/*ABOUT*/
#about-us {
    padding: 50px 20px;
}

.about-head {
    padding: 1.5rem 0;
    font-size: 3.2rem;
}

.about-image {
    border-radius: 5%;
    height: 260px;
    padding: 2rem 0;
}

.about-content {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}