* {
    font-size: 62.5%;
    font-family: 'Exo', sans-serif;
}

h1 {
    font-size: 3.2rem;
}

.container {
    padding: 0 10px;
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 450px;
}

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.logo {
    max-width: 100px;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    background-color: #E5E5E5;
}


.primary-navigation {
    list-style: none;
    margin: 0;
}

.primary-navigation a {
    font-size: 1.6rem;
    text-decoration: none;
}

@media (max-width: 35em) {
    .primary-navigation {
        z-index: 10000;
        position: fixed;
        inset: 0 0 0 40%;
        background: steelblue;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        display: none;
    }
}

/* BANNER */

#banner {
    background-color: lightsalmon;
    padding: 20px 0;
}

/* HERO */

#hero {
    background-color: white;
    height: 100vh;
    
}

.bg-image {
    background: url("/images/camper-van.jpeg");
    background-size: cover;
    height: 55vh;
}

.book-now {
    position: relative;
    background-color: #E5E5E5;
    top: 200px;
    margin: auto;
    width: 60%;
    padding: 25px;
    border-radius: 2%;
}

.form-elem{
 display: flex;
 flex-direction: column;
}

.form-elem input, .form-elem button{
    padding: 15px 0;
    margin: 5px;
}

/*ABOUT*/
#about-us {
    background-color: #E5E5E5;
}